<h1>Welcome to MBanking, <%=@customer.fname%>.</h1>
	<h1> Your bank accounts </h1>
	<% @accounts.each do |account| %>
		<h1><%= account.account_type %></h1>
		<h3>Current Balance: 
		$<%= account.balance %>
		</h3>
		<%= link_to "Transaction", new_account_transaction_path(account) %>
	<% end %>
	<h2><%= @checkaccount %></h2>
	<svg id="graph"></svg>