
<h1>Make a new transaction Chris you fatso</h1>

<%= form_for([@account,@transaction]) do |f| %>
	<%= f.label :Amount %>
	<%= f.text_field :amount %>
	<%= f.label :Description %>
	<%= f.text_field :description %>
	<%= f.submit %>
<% end %>