<!DOCTYPE html>
<html>
<head>
  <title>MBanking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.scss">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<% if @customer %>
	<header>

		<nav>
			<h1 class="m">MBanking</h1>
			<ul>
				<li><h3><a href="">Settings</a></h3></li>
				<li><h3><a href="/logout">Log out</a></h3></li>
			</ul>
		</nav>
	</header>
	<% elsif !@customer %>
		<header>
			<nav>
				<h1 class="m">MBanking</h1>
				<ul>
					<li><h3><a href="">About</a></h3></li>
				</ul>
			</nav>
		</header>
	<% end %>
	
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<% end %>
	<% if flash[:alert] %>
		<%= flash[:alert] %>
	<% end %>
<%= yield %>

</body>
</html>
